In [1]:
#Import Dependencies 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [2]:
state_abb = "Resources/state-abbrevs.csv"
state_area = "Resources/state-areas.csv"

In [3]:
state_abb_read = pd.read_csv(state_abb)
state_abb_df = pd.DataFrame(state_abb_read)
state_area_read = pd.read_csv(state_area)
state_area_df = pd.DataFrame(state_area_read)
state_info_df = pd.merge(state_abb_df, state_area_df)

In [6]:
covid_file= "Resources/all-states-history-1219.csv"
covid_data=pd.read_csv(covid_file)
covid_df = pd.DataFrame(covid_data) 
covid_df.rename(columns = {"state" : "abbreviation"}, inplace = True)
covid_df.head()

,date,abbreviation,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,12/18/20,AK,A,183.0,183.0,0,NaN,928.0,928.0,142.0,...,1184922.0,9199,NaN,NaN,NaN,NaN,NaN,0,1184922.0,9199
1,12/18/20,AL,A,4296.0,3772.0,42,524.0,30224.0,30224.0,2447.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
2,12/18/20,AR,A+,3139.0,2776.0,27,363.0,10430.0,10430.0,1073.0,...,1913448.0,13674,NaN,21856.0,NaN,198712.0,NaN,0,1913448.0,13674
3,12/18/20,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,12/18/20,AZ,A+,7819.0,7142.0,142,677.0,32293.0,32293.0,3931.0,...,4514548.0,51882,381780.0,NaN,NaN,NaN,2605792.0,22398,4514548.0,51882

In [36]:
#convert date column to column
covid_df['date'] = pd.to_datetime(covid_df['date'])
covid_df

,date,abbreviation,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-18,AK,A,183.0,183.0,0,NaN,928.0,928.0,142.0,...,1184922.0,9199,NaN,NaN,NaN,NaN,NaN,0,1184922.0,9199
1,2020-12-18,AL,A,4296.0,3772.0,42,524.0,30224.0,30224.0,2447.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
2,2020-12-18,AR,A+,3139.0,2776.0,27,363.0,10430.0,10430.0,1073.0,...,1913448.0,13674,NaN,21856.0,NaN,198712.0,NaN,0,1913448.0,13674
3,2020-12-18,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-18,AZ,A+,7819.0,7142.0,142,677.0,32293.0,32293.0,3931.0,...,4514548.0,51882,381780.0,NaN,NaN,NaN,2605792.0,22398,4514548.0,51882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16310,2020-01-17,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16311,2020-01-16,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16312,2020-01-15,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16313,2020-01-14,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16314,2020-01-13,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [50]:
#merge the data files 
covid_state = pd.merge(state_info_df, covid_df, on = "abbreviation")
covid_state

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,Alabama,AL,52423,2020-12-18,A,4296.0,3772.0,42,524.0,30224.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
1,Alabama,AL,52423,2020-12-17,A,4254.0,3745.0,56,509.0,29559.0,...,1752713.0,11585,NaN,NaN,80026.0,NaN,1752713.0,11585,NaN,0
2,Alabama,AL,52423,2020-12-16,A,4198.0,3704.0,74,494.0,29559.0,...,1741128.0,8943,NaN,NaN,79047.0,NaN,1741128.0,8943,NaN,0
3,Alabama,AL,52423,2020-12-15,A,4124.0,3642.0,22,482.0,29259.0,...,1732185.0,8516,NaN,NaN,78493.0,NaN,1732185.0,8516,NaN,0
4,Alabama,AL,52423,2020-12-14,A,4102.0,3624.0,0,478.0,28913.0,...,1723669.0,27230,NaN,NaN,78262.0,NaN,1723669.0,27230,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14920,Wyoming,WY,97818,2020-03-05,NaN,NaN,NaN,0,NaN,NaN,...,8.0,4,NaN,NaN,NaN,NaN,NaN,0,8.0,4
14921,Wyoming,WY,97818,2020-03-04,NaN,NaN,NaN,0,NaN,NaN,...,4.0,3,NaN,NaN,NaN,NaN,NaN,0,4.0,3
14922,Wyoming,WY,97818,2020-03-03,NaN,NaN,NaN,0,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,0
14923,Wyoming,WY,97818,2020-03-02,NaN,NaN,NaN,0,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,0
14924,Wyoming,WY,97818,2020-03-01,NaN,NaN,NaN,0,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,1

In [51]:
# covid_state.to_csv("COVID_State.csv", index = False)

covid_state = covid_state[["state", "abbreviation", "area (sq. mi)", "date", "dataQualityGrade", "death", "hospitalized", "positive", "negative", "recovered", "totalTestResults"]]
covid_state

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,hospitalized,positive,negative,recovered,totalTestResults
0,Alabama,AL,52423,2020-12-18,A,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0
1,Alabama,AL,52423,2020-12-17,A,4254.0,29559.0,310335.0,1499349.0,183625.0,1752713.0
2,Alabama,AL,52423,2020-12-16,A,4198.0,29559.0,305640.0,1491279.0,183625.0,1741128.0
3,Alabama,AL,52423,2020-12-15,A,4124.0,29259.0,301533.0,1485182.0,174805.0,1732185.0
4,Alabama,AL,52423,2020-12-14,A,4102.0,28913.0,297895.0,1478907.0,174805.0,1723669.0
...,...,...,...,...,...,...,...,...,...,...,...
14920,Wyoming,WY,97818,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,8.0
14921,Wyoming,WY,97818,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,4.0
14922,Wyoming,WY,97818,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,1.0
14923,Wyoming,WY,97818,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,1.0
14924,Wyoming,WY,97818,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [44]:
#identify most recent date in the dataframe
covid_state = covid_state.sort_values("date", ascending=False)
covid_state

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,hospitalized,positive,negative,recovered,totalTestResults
0,Alabama,AL,52423,2020-12-18,A,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0
1733,Connecticut,CT,5544,2020-12-18,C,5581.0,12257.0,162782.0,3782866.0,9800.0,3945648.0
2922,Georgia,GA,59441,2020-12-18,A+,10332.0,39064.0,500265.0,4403781.0,NaN,4904046.0
11388,Rhode Island,RI,1545,2020-12-18,A+,1625.0,5822.0,77812.0,519811.0,4761.0,1817360.0
575,Arizona,AZ,114006,2020-12-18,A+,7819.0,32293.0,442671.0,2181193.0,65350.0,4514548.0
...,...,...,...,...,...,...,...,...,...,...,...
14048,Washington,WA,71303,2020-01-17,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14049,Washington,WA,71303,2020-01-16,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14050,Washington,WA,71303,2020-01-15,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14051,Washington,WA,71303,2020-01-14,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14052,Washington,WA,71303,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#isolate the data from the most recent report
old_covid = covid_state[(covid_state['date'] != (covid_state['date'].max()))].index
old_covid

#create a dataframe of only the most recent data
recent_df =covid_state.drop(old_covid, inplace=False)
recent_df

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,hospitalized,positive,negative,recovered,totalTestResults
0,Alabama,AL,52423,2020-12-18,A,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0
1733,Connecticut,CT,5544,2020-12-18,C,5581.0,12257.0,162782.0,3782866.0,9800.0,3945648.0
2922,Georgia,GA,59441,2020-12-18,A+,10332.0,39064.0,500265.0,4403781.0,NaN,4904046.0
11388,Rhode Island,RI,1545,2020-12-18,A+,1625.0,5822.0,77812.0,519811.0,4761.0,1817360.0
575,Arizona,AZ,114006,2020-12-18,A+,7819.0,32293.0,442671.0,2181193.0,65350.0,4514548.0
8171,North Dakota,ND,70704,2020-12-18,B,1231.0,3349.0,89557.0,280865.0,85271.0,1193656.0
10526,Mississippi,MS,48434,2020-12-18,A+,4354.0,7901.0,190411.0,1079660.0,148466.0,1270071.0
11100,Pennsylvania,PA,46058,2020-12-18,A+,13608.0,NaN,538655.0,3118874.0,323193.0,3657529.0
5526,Maine,ME,35387,2020-12-18,A+,281.0,965.0,18337.0,1007303.0,10744.0,1025640.0
12258,Tennessee,TN,42146,2020-12-18,A+,5845.0,13537.0,493230.0,4703628.0,418724.0,5196858.0
14632,Wyoming,WY,97818,2020-12-18,B,351.0,1001.0,41359.0,153505.0,38544.0,463753.0
14053,West Virginia,WV,24231,2020-12-18,B,1091.0,NaN,69751.0,1307321.0,46632.0,1377072.0
9613,Massachusetts,MA,10555,2020-12-18,A+,11610.0,15372.0,314926.0,3470184.0,206843.0,10007766.0
2308,District of Columbia,DC,68,2020-12-18,A+,728.0,NaN,26104.0,786798.0,18743.0,812902.0
7589,New York,NY,54475,2020-12-18,B,28344.0,89995.0,828166.0,22101265.0,94057.0,22929431.0
10238,Minnesota,MN,86943,2020-12-18,A,4723.0,20323.0,391889.0,2446226.0,360868.0,4923927.0
4079,Indiana,IN,36420,2020-12-18,A+,7265.0,32042.0,453139.0,2039231.0,281473.0,5157016.0
13125,Vermont,VT,9615,2020-12-18,B,107.0,NaN,6243.0,242897.0,3970.0,640896.0
11971,South Dakota,SD,77121,2020-12-18,A+,1329.0,5348.0,93772.0,264794.0,83670.0,358566.0
3789,Illinois,IL,57918,2020-12-18,A,16206.0,NaN,886805.0,11372790.0,NaN,12259595.0
865,Arkansas,AR,53182,2020-12-18,A+,3139.0,10430.0,197421.0,1746014.0,171864.0,1913448.0
13712,Washington,WA,71303,2020-12-18,B,3117.0,13235.0,217205.0,2556060.0,NaN,2765404.0
7881,North Carolina,NC,53821,2020-12-18,A+,6125.0,NaN,466104.0,5800623.0,365273.0,6266727.0
1153,California,CA,163707,2020-12-18,B,22160.0,NaN,1764374.0,26976653.0,NaN,28741027.0
6408,Nevada,NV,110567,2020-12-18,A,2708.0,NaN,199257.0,897585.0,NaN,1916048.0
9945,Michigan,MI,96810,2020-12-18,A+,11868.0,NaN,491875.0,7146593.0,236369.0,7638468.0
4375,Iowa,IA,56276,2020-12-18,A+,3451.0,NaN,227989.0,911604.0,208802.0,1139593.0
6987,New Jersey,NJ,8722,2020-12-18,A,18124.0,44889.0,423226.0,6672479.0,50629.0,7095705.0
8458,Ohio,OH,44828,2020-12-18,A+,7967.0,34143.0,605862.0,6571202.0,430621.0,7177064.0
2020,Delaware,DE,1954,2020-12-18,A+,854.0,NaN,49109.0,428997.0,18851.0,882919.0
11681,South Carolina,SC,32007,2020-12-18,A+,4872.0,13267.0,267076.0,2577819.0,133902.0,2844895.0
2597,Florida,FL,65758,2020-12-18,A,20690.0,60392.0,1161953.0,6966477.0,NaN,14394820.0
5813,Montana,MT,147046,2020-12-18,A,854.0,3226.0,75992.0,671810.0,65873.0,747802.0
9324,Maryland,MD,12407,2020-12-18,A,5358.0,24310.0,246553.0,2387177.0,9064.0,5205154.0
6697,New Hampshire,NH,9351,2020-12-18,C,638.0,881.0,34960.0,444695.0,27459.0,949737.0
4663,Kansas,KS,82282,2020-12-18,A+,2341.0,6175.0,200426.0,730380.0,4125.0,930806.0
7300,New Mexico,NM,121593,2020-12-18,A,2128.0,8571.0,127500.0,1681793.0,52137.0,1809293.0
12838,Utah,UT,84904,2020-12-18,A+,1140.0,9883.0,246562.0,1246575.0,188846.0,2091694.0
8747,Oklahoma,OK,69903,2020-12-18,A+,2161.0,14970.0,251760.0,2192087.0,217534.0,2443847.0
14341,Wisconsin,WI,65503,2020-12-18,A+,4632.0,19930.0,486364.0,2281130.0,408367.0,5004584.0
287,Alaska,AK,656425,2020-12-18,A,183.0,928.0,41905.0,1143017.0,7165.0,1184922.0
5239,Louisiana,LA,51843,2020-12-18,A,6994.0,NaN,282434.0,3643080.0,232725.0,3925514.0
10813,Missouri,MO,69709,2020-12-18,A+,4853.0,NaN,360330.0,1607366.0,NaN,3431791.0
3502,Idaho,ID,83574,2020-12-18,A,1259.0,5021.0,126878.0,413227.0,49318.0,519125.0
4951,Kentucky,KY,40411,2020-12-18,B,2344.0,12184.0,237190.0,2796131.0,33665.0,2988579.0
12547,Texas,TX,268601,2020-12-18,A,24954.0,NaN,1555981.0,11147868.0,1245339.0,12532344.0
6100,Nebraska,NE,77358,2020-12-18,A,1453.0,4930.0,153400.0,658073.0,88176.0,1609385.0
9034,Oregon,OR,98386,2020-12-18,A+,1304.0,5837.0,100308.0,2315496.0,5870.0,2415804.0
13416,Virginia,VA,42769,2020-12-18,A+,4598.0,16684.0,299388.0,3574684.0,27471.0,3831683.0
1443,Colorado,CO,104100,2020-12-18,A,4259.0,17020.0,304107.0,1720956.0,16062.0,3971864.0
3212,Hawaii,HI,10932,2020-12-18,B,281.0,1655.0,20257.0,295153.0,11958.0,758327.0

In [52]:
#add columns to house new data
recent_df["Median Income"]=""
recent_df["Population Density"]=""

recent_df

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,hospitalized,positive,negative,recovered,totalTestResults,Median Income,Population Density
0,Alabama,AL,52423,2020-12-18,A,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0,,
1733,Connecticut,CT,5544,2020-12-18,C,5581.0,12257.0,162782.0,3782866.0,9800.0,3945648.0,,
2922,Georgia,GA,59441,2020-12-18,A+,10332.0,39064.0,500265.0,4403781.0,NaN,4904046.0,,
11388,Rhode Island,RI,1545,2020-12-18,A+,1625.0,5822.0,77812.0,519811.0,4761.0,1817360.0,,
575,Arizona,AZ,114006,2020-12-18,A+,7819.0,32293.0,442671.0,2181193.0,65350.0,4514548.0,,
8171,North Dakota,ND,70704,2020-12-18,B,1231.0,3349.0,89557.0,280865.0,85271.0,1193656.0,,
10526,Mississippi,MS,48434,2020-12-18,A+,4354.0,7901.0,190411.0,1079660.0,148466.0,1270071.0,,
11100,Pennsylvania,PA,46058,2020-12-18,A+,13608.0,NaN,538655.0,3118874.0,323193.0,3657529.0,,
5526,Maine,ME,35387,2020-12-18,A+,281.0,965.0,18337.0,1007303.0,10744.0,1025640.0,,
12258,Tennessee,TN,42146,2020-12-18,A+,5845.0,13537.0,493230.0,4703628.0,418724.0,5196858.0,,
14632,Wyoming,WY,97818,2020-12-18,B,351.0,1001.0,41359.0,153505.0,38544.0,463753.0,,
14053,West Virginia,WV,24231,2020-12-18,B,1091.0,NaN,69751.0,1307321.0,46632.0,1377072.0,,
9613,Massachusetts,MA,10555,2020-12-18,A+,11610.0,15372.0,314926.0,3470184.0,206843.0,10007766.0,,
2308,District of Columbia,DC,68,2020-12-18,A+,728.0,NaN,26104.0,786798.0,18743.0,812902.0,,
7589,New York,NY,54475,2020-12-18,B,28344.0,89995.0,828166.0,22101265.0,94057.0,22929431.0,,
10238,Minnesota,MN,86943,2020-12-18,A,4723.0,20323.0,391889.0,2446226.0,360868.0,4923927.0,,
4079,Indiana,IN,36420,2020-12-18,A+,7265.0,32042.0,453139.0,2039231.0,281473.0,5157016.0,,
13125,Vermont,VT,9615,2020-12-18,B,107.0,NaN,6243.0,242897.0,3970.0,640896.0,,
11971,South Dakota,SD,77121,2020-12-18,A+,1329.0,5348.0,93772.0,264794.0,83670.0,358566.0,,
3789,Illinois,IL,57918,2020-12-18,A,16206.0,NaN,886805.0,11372790.0,NaN,12259595.0,,
865,Arkansas,AR,53182,2020-12-18,A+,3139.0,10430.0,197421.0,1746014.0,171864.0,1913448.0,,
13712,Washington,WA,71303,2020-12-18,B,3117.0,13235.0,217205.0,2556060.0,NaN,2765404.0,,
7881,North Carolina,NC,53821,2020-12-18,A+,6125.0,NaN,466104.0,5800623.0,365273.0,6266727.0,,
1153,California,CA,163707,2020-12-18,B,22160.0,NaN,1764374.0,26976653.0,NaN,28741027.0,,
6408,Nevada,NV,110567,2020-12-18,A,2708.0,NaN,199257.0,897585.0,NaN,1916048.0,,
9945,Michigan,MI,96810,2020-12-18,A+,11868.0,NaN,491875.0,7146593.0,236369.0,7638468.0,,
4375,Iowa,IA,56276,2020-12-18,A+,3451.0,NaN,227989.0,911604.0,208802.0,1139593.0,,
6987,New Jersey,NJ,8722,2020-12-18,A,18124.0,44889.0,423226.0,6672479.0,50629.0,7095705.0,,
8458,Ohio,OH,44828,2020-12-18,A+,7967.0,34143.0,605862.0,6571202.0,430621.0,7177064.0,,
2020,Delaware,DE,1954,2020-12-18,A+,854.0,NaN,49109.0,428997.0,18851.0,882919.0,,
11681,South Carolina,SC,32007,2020-12-18,A+,4872.0,13267.0,267076.0,2577819.0,133902.0,2844895.0,,
2597,Florida,FL,65758,2020-12-18,A,20690.0,60392.0,1161953.0,6966477.0,NaN,14394820.0,,
5813,Montana,MT,147046,2020-12-18,A,854.0,3226.0,75992.0,671810.0,65873.0,747802.0,,
9324,Maryland,MD,12407,2020-12-18,A,5358.0,24310.0,246553.0,2387177.0,9064.0,5205154.0,,
6697,New Hampshire,NH,9351,2020-12-18,C,638.0,881.0,34960.0,444695.0,27459.0,949737.0,,
4663,Kansas,KS,82282,2020-12-18,A+,2341.0,6175.0,200426.0,730380.0,4125.0,930806.0,,
7300,New Mexico,NM,121593,2020-12-18,A,2128.0,8571.0,127500.0,1681793.0,52137.0,1809293.0,,
12838,Utah,UT,84904,2020-12-18,A+,1140.0,9883.0,246562.0,1246575.0,188846.0,2091694.0,,
8747,Oklahoma,OK,69903,2020-12-18,A+,2161.0,14970.0,251760.0,2192087.0,217534.0,2443847.0,,
14341,Wisconsin,WI,65503,2020-12-18,A+,4632.0,19930.0,486364.0,2281130.0,408367.0,5004584.0,,
287,Alaska,AK,656425,2020-12-18,A,183.0,928.0,41905.0,1143017.0,7165.0,1184922.0,,
5239,Louisiana,LA,51843,2020-12-18,A,6994.0,NaN,282434.0,3643080.0,232725.0,3925514.0,,
10813,Missouri,MO,69709,2020-12-18,A+,4853.0,NaN,360330.0,1607366.0,NaN,3431791.0,,
3502,Idaho,ID,83574,2020-12-18,A,1259.0,5021.0,126878.0,413227.0,49318.0,519125.0,,
4951,Kentucky,KY,40411,2020-12-18,B,2344.0,12184.0,237190.0,2796131.0,33665.0,2988579.0,,
12547,Texas,TX,268601,2020-12-18,A,24954.0,NaN,1555981.0,11147868.0,1245339.0,12532344.0,,
6100,Nebraska,NE,77358,2020-12-18,A,1453.0,4930.0,153400.0,658073.0,88176.0,1609385.0,,
9034,Oregon,OR,98386,2020-12-18,A+,1304.0,5837.0,100308.0,2315496.0,5870.0,2415804.0,,
13416,Virginia,VA,42769,2020-12-18,A+,4598.0,16684.0,299388.0,3574684.0,27471.0,3831683.0,,
1443,Colorado,CO,104100,2020-12-18,A,4259.0,17020.0,304107.0,1720956.0,16062.0,3971864.0,,
3212,Hawaii,HI,10932,2020-12-18,B,281.0,1655.0,20257.0,295153.0,11958.0,758327.0,,

In [ ]:
#pull census populations from API

In [ ]:
#add a column to the covid_state data frame that calculates population density

In [ ]:
# covid_state.to_csv("COVID_State.csv", index = False)