In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [13]:
state_abb = "Resources/state-abbrevs.csv"
state_area = "Resources/state-areas.csv"
state_abb_read = pd.read_csv(state_abb)
state_abb_df = pd.DataFrame(state_abb_read)
state_area_read = pd.read_csv(state_area)
state_area_df = pd.DataFrame(state_area_read)
state_info_df = pd.merge(state_abb_df, state_area_df)

state_info_df

                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818

In [14]:
covid_file= "Resources/all-states-history-1219.csv"
covid_data=pd.read_csv(covid_file)
covid_df = pd.DataFrame(covid_data) 
covid_df.rename(columns = {"state" : "abbreviation"}, inplace = True)
covid_df.head()

,date,abbreviation,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,12/18/20,AK,A,183.0,183.0,0,NaN,928.0,928.0,142.0,...,1184922.0,9199,NaN,NaN,NaN,NaN,NaN,0,1184922.0,9199
1,12/18/20,AL,A,4296.0,3772.0,42,524.0,30224.0,30224.0,2447.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
2,12/18/20,AR,A+,3139.0,2776.0,27,363.0,10430.0,10430.0,1073.0,...,1913448.0,13674,NaN,21856.0,NaN,198712.0,NaN,0,1913448.0,13674
3,12/18/20,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,12/18/20,AZ,A+,7819.0,7142.0,142,677.0,32293.0,32293.0,3931.0,...,4514548.0,51882,381780.0,NaN,NaN,NaN,2605792.0,22398,4514548.0,51882

In [15]:
#convert date column to date format
covid_df['date'] = pd.to_datetime(covid_df['date'])
covid_df

,date,abbreviation,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-18,AK,A,183.0,183.0,0,NaN,928.0,928.0,142.0,...,1184922.0,9199,NaN,NaN,NaN,NaN,NaN,0,1184922.0,9199
1,2020-12-18,AL,A,4296.0,3772.0,42,524.0,30224.0,30224.0,2447.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
2,2020-12-18,AR,A+,3139.0,2776.0,27,363.0,10430.0,10430.0,1073.0,...,1913448.0,13674,NaN,21856.0,NaN,198712.0,NaN,0,1913448.0,13674
3,2020-12-18,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-18,AZ,A+,7819.0,7142.0,142,677.0,32293.0,32293.0,3931.0,...,4514548.0,51882,381780.0,NaN,NaN,NaN,2605792.0,22398,4514548.0,51882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16310,2020-01-17,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16311,2020-01-16,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16312,2020-01-15,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16313,2020-01-14,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
16314,2020-01-13,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [16]:
#merge the data files 
covid_state = pd.merge(state_info_df, covid_df, on = "abbreviation")
covid_state

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,Alabama,AL,52423,2020-12-18,A,4296.0,3772.0,42,524.0,30224.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
1,Alabama,AL,52423,2020-12-17,A,4254.0,3745.0,56,509.0,29559.0,...,1752713.0,11585,NaN,NaN,80026.0,NaN,1752713.0,11585,NaN,0
2,Alabama,AL,52423,2020-12-16,A,4198.0,3704.0,74,494.0,29559.0,...,1741128.0,8943,NaN,NaN,79047.0,NaN,1741128.0,8943,NaN,0
3,Alabama,AL,52423,2020-12-15,A,4124.0,3642.0,22,482.0,29259.0,...,1732185.0,8516,NaN,NaN,78493.0,NaN,1732185.0,8516,NaN,0
4,Alabama,AL,52423,2020-12-14,A,4102.0,3624.0,0,478.0,28913.0,...,1723669.0,27230,NaN,NaN,78262.0,NaN,1723669.0,27230,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14920,Wyoming,WY,97818,2020-03-05,NaN,NaN,NaN,0,NaN,NaN,...,8.0,4,NaN,NaN,NaN,NaN,NaN,0,8.0,4
14921,Wyoming,WY,97818,2020-03-04,NaN,NaN,NaN,0,NaN,NaN,...,4.0,3,NaN,NaN,NaN,NaN,NaN,0,4.0,3
14922,Wyoming,WY,97818,2020-03-03,NaN,NaN,NaN,0,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,0
14923,Wyoming,WY,97818,2020-03-02,NaN,NaN,NaN,0,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,0
14924,Wyoming,WY,97818,2020-03-01,NaN,NaN,NaN,0,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,1

In [17]:
# covid_state.to_csv("COVID_State.csv", index = False)

covid_state = covid_state[["state", "abbreviation", "area (sq. mi)", "date", "dataQualityGrade", "death", "hospitalized", "positive", "negative", "recovered", "totalTestResults"]]
covid_state

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,hospitalized,positive,negative,recovered,totalTestResults
0,Alabama,AL,52423,2020-12-18,A,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0
1,Alabama,AL,52423,2020-12-17,A,4254.0,29559.0,310335.0,1499349.0,183625.0,1752713.0
2,Alabama,AL,52423,2020-12-16,A,4198.0,29559.0,305640.0,1491279.0,183625.0,1741128.0
3,Alabama,AL,52423,2020-12-15,A,4124.0,29259.0,301533.0,1485182.0,174805.0,1732185.0
4,Alabama,AL,52423,2020-12-14,A,4102.0,28913.0,297895.0,1478907.0,174805.0,1723669.0
...,...,...,...,...,...,...,...,...,...,...,...
14920,Wyoming,WY,97818,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,8.0
14921,Wyoming,WY,97818,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,4.0
14922,Wyoming,WY,97818,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,1.0
14923,Wyoming,WY,97818,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,1.0
14924,Wyoming,WY,97818,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [18]:
#identify most recent date in the dataframe
covid_state = covid_state.sort_values("date", ascending=False)
covid_state

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,hospitalized,positive,negative,recovered,totalTestResults
0,Alabama,AL,52423,2020-12-18,A,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0
1733,Connecticut,CT,5544,2020-12-18,C,5581.0,12257.0,162782.0,3782866.0,9800.0,3945648.0
9945,Michigan,MI,96810,2020-12-18,A+,11868.0,NaN,491875.0,7146593.0,236369.0,7638468.0
1443,Colorado,CO,104100,2020-12-18,A,4259.0,17020.0,304107.0,1720956.0,16062.0,3971864.0
6100,Nebraska,NE,77358,2020-12-18,A,1453.0,4930.0,153400.0,658073.0,88176.0,1609385.0
...,...,...,...,...,...,...,...,...,...,...,...
14048,Washington,WA,71303,2020-01-17,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14049,Washington,WA,71303,2020-01-16,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14050,Washington,WA,71303,2020-01-15,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14051,Washington,WA,71303,2020-01-14,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14052,Washington,WA,71303,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#isolate the data from the most recent report
old_covid = covid_state[(covid_state['date'] != (covid_state['date'].max()))].index
old_covid

Int64Index([ 1154,  6409,  2923,  9325,  9946,  1444, 14054,  9614,  3790,
             6101,
            ...
             9944, 14044, 14045, 14046, 14047, 14048, 14049, 14050, 14051,
            14052],
           dtype='int64', length=14874)

In [20]:
#create a dataframe of only the most recent data
recent_df =covid_state.drop(old_covid, inplace=False)
recent_df

,state,abbreviation,area (sq. mi),date,dataQualityGrade,death,hospitalized,positive,negative,recovered,totalTestResults
0,Alabama,AL,52423,2020-12-18,A,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0
1733,Connecticut,CT,5544,2020-12-18,C,5581.0,12257.0,162782.0,3782866.0,9800.0,3945648.0
9945,Michigan,MI,96810,2020-12-18,A+,11868.0,NaN,491875.0,7146593.0,236369.0,7638468.0
1443,Colorado,CO,104100,2020-12-18,A,4259.0,17020.0,304107.0,1720956.0,16062.0,3971864.0
6100,Nebraska,NE,77358,2020-12-18,A,1453.0,4930.0,153400.0,658073.0,88176.0,1609385.0
10238,Minnesota,MN,86943,2020-12-18,A,4723.0,20323.0,391889.0,2446226.0,360868.0,4923927.0
13712,Washington,WA,71303,2020-12-18,B,3117.0,13235.0,217205.0,2556060.0,NaN,2765404.0
5813,Montana,MT,147046,2020-12-18,A,854.0,3226.0,75992.0,671810.0,65873.0,747802.0
10526,Mississippi,MS,48434,2020-12-18,A+,4354.0,7901.0,190411.0,1079660.0,148466.0,1270071.0
13416,Virginia,VA,42769,2020-12-18,A+,4598.0,16684.0,299388.0,3574684.0,27471.0,3831683.0
11388,Rhode Island,RI,1545,2020-12-18,A+,1625.0,5822.0,77812.0,519811.0,4761.0,1817360.0
5239,Louisiana,LA,51843,2020-12-18,A,6994.0,NaN,282434.0,3643080.0,232725.0,3925514.0
10813,Missouri,MO,69709,2020-12-18,A+,4853.0,NaN,360330.0,1607366.0,NaN,3431791.0
2020,Delaware,DE,1954,2020-12-18,A+,854.0,NaN,49109.0,428997.0,18851.0,882919.0
4951,Kentucky,KY,40411,2020-12-18,B,2344.0,12184.0,237190.0,2796131.0,33665.0,2988579.0
11100,Pennsylvania,PA,46058,2020-12-18,A+,13608.0,NaN,538655.0,3118874.0,323193.0,3657529.0
13125,Vermont,VT,9615,2020-12-18,B,107.0,NaN,6243.0,242897.0,3970.0,640896.0
2308,District of Columbia,DC,68,2020-12-18,A+,728.0,NaN,26104.0,786798.0,18743.0,812902.0
6408,Nevada,NV,110567,2020-12-18,A,2708.0,NaN,199257.0,897585.0,NaN,1916048.0
1153,California,CA,163707,2020-12-18,B,22160.0,NaN,1764374.0,26976653.0,NaN,28741027.0
14053,West Virginia,WV,24231,2020-12-18,B,1091.0,NaN,69751.0,1307321.0,46632.0,1377072.0
9613,Massachusetts,MA,10555,2020-12-18,A+,11610.0,15372.0,314926.0,3470184.0,206843.0,10007766.0
7881,North Carolina,NC,53821,2020-12-18,A+,6125.0,NaN,466104.0,5800623.0,365273.0,6266727.0
8747,Oklahoma,OK,69903,2020-12-18,A+,2161.0,14970.0,251760.0,2192087.0,217534.0,2443847.0
287,Alaska,AK,656425,2020-12-18,A,183.0,928.0,41905.0,1143017.0,7165.0,1184922.0
14632,Wyoming,WY,97818,2020-12-18,B,351.0,1001.0,41359.0,153505.0,38544.0,463753.0
7589,New York,NY,54475,2020-12-18,B,28344.0,89995.0,828166.0,22101265.0,94057.0,22929431.0
9034,Oregon,OR,98386,2020-12-18,A+,1304.0,5837.0,100308.0,2315496.0,5870.0,2415804.0
575,Arizona,AZ,114006,2020-12-18,A+,7819.0,32293.0,442671.0,2181193.0,65350.0,4514548.0
8458,Ohio,OH,44828,2020-12-18,A+,7967.0,34143.0,605862.0,6571202.0,430621.0,7177064.0
8171,North Dakota,ND,70704,2020-12-18,B,1231.0,3349.0,89557.0,280865.0,85271.0,1193656.0
7300,New Mexico,NM,121593,2020-12-18,A,2128.0,8571.0,127500.0,1681793.0,52137.0,1809293.0
14341,Wisconsin,WI,65503,2020-12-18,A+,4632.0,19930.0,486364.0,2281130.0,408367.0,5004584.0
6987,New Jersey,NJ,8722,2020-12-18,A,18124.0,44889.0,423226.0,6672479.0,50629.0,7095705.0
9324,Maryland,MD,12407,2020-12-18,A,5358.0,24310.0,246553.0,2387177.0,9064.0,5205154.0
865,Arkansas,AR,53182,2020-12-18,A+,3139.0,10430.0,197421.0,1746014.0,171864.0,1913448.0
6697,New Hampshire,NH,9351,2020-12-18,C,638.0,881.0,34960.0,444695.0,27459.0,949737.0
4663,Kansas,KS,82282,2020-12-18,A+,2341.0,6175.0,200426.0,730380.0,4125.0,930806.0
5526,Maine,ME,35387,2020-12-18,A+,281.0,965.0,18337.0,1007303.0,10744.0,1025640.0
2922,Georgia,GA,59441,2020-12-18,A+,10332.0,39064.0,500265.0,4403781.0,NaN,4904046.0
4375,Iowa,IA,56276,2020-12-18,A+,3451.0,NaN,227989.0,911604.0,208802.0,1139593.0
12547,Texas,TX,268601,2020-12-18,A,24954.0,NaN,1555981.0,11147868.0,1245339.0,12532344.0
3789,Illinois,IL,57918,2020-12-18,A,16206.0,NaN,886805.0,11372790.0,NaN,12259595.0
4079,Indiana,IN,36420,2020-12-18,A+,7265.0,32042.0,453139.0,2039231.0,281473.0,5157016.0
2597,Florida,FL,65758,2020-12-18,A,20690.0,60392.0,1161953.0,6966477.0,NaN,14394820.0
3502,Idaho,ID,83574,2020-12-18,A,1259.0,5021.0,126878.0,413227.0,49318.0,519125.0
12258,Tennessee,TN,42146,2020-12-18,A+,5845.0,13537.0,493230.0,4703628.0,418724.0,5196858.0
11681,South Carolina,SC,32007,2020-12-18,A+,4872.0,13267.0,267076.0,2577819.0,133902.0,2844895.0
3212,Hawaii,HI,10932,2020-12-18,B,281.0,1655.0,20257.0,295153.0,11958.0,758327.0
12838,Utah,UT,84904,2020-12-18,A+,1140.0,9883.0,246562.0,1246575.0,188846.0,2091694.0
11971,South Dakota,SD,77121,2020-12-18,A+,1329.0,5348.0,93772.0,264794.0,83670.0,358566.0

In [25]:
#pull census populations from API 
census_key = 'e3bdb742454fec392bd8e25113654b613eae40f0'
c = Census(census_key, year = 2019)

census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E"), {'for': 'state:*'})
census_data

[{'NAME': 'Alabama',
  'B19013_001E': 50536.0,
  'B01003_001E': 4876250.0,
  'B01002_001E': 39.0,
  'B19301_001E': 27928.0,
  'state': '01'},
 {'NAME': 'Alaska',
  'B19013_001E': 77640.0,
  'B01003_001E': 737068.0,
  'B01002_001E': 34.3,
  'B19301_001E': 36787.0,
  'state': '02'},
 {'NAME': 'Arizona',
  'B19013_001E': 58945.0,
  'B01003_001E': 7050299.0,
  'B01002_001E': 37.7,
  'B19301_001E': 30694.0,
  'state': '04'},
 {'NAME': 'Arkansas',
  'B19013_001E': 47597.0,
  'B01003_001E': 2999370.0,
  'B01002_001E': 38.1,
  'B19301_001E': 26577.0,
  'state': '05'},
 {'NAME': 'California',
  'B19013_001E': 75235.0,
  'B01003_001E': 39283497.0,
  'B01002_001E': 36.5,
  'B19301_001E': 36955.0,
  'state': '06'},
 {'NAME': 'Colorado',
  'B19013_001E': 72331.0,
  'B01003_001E': 5610349.0,
  'B01002_001E': 36.7,
  'B19301_001E': 38226.0,
  'state': '08'},
 {'NAME': 'Delaware',
  'B19013_001E': 68287.0,
  'B01003_001E': 957248.0,
  'B01002_001E': 40.6,
  'B19301_001E': 35450.0,
  'state': '10'},
 {'NAME': 'District of Columbia',
  'B19013_001E': 86420.0,
  'B01003_001E': 692683.0,
  'B01002_001E': 34.0,
  'B19301_001E': 56147.0,
  'state': '11'},
 {'NAME': 'Connecticut',
  'B19013_001E': 78444.0,
  'B01003_001E': 3575074.0,
  'B01002_001E': 41.0,
  'B19301_001E': 44496.0,
  'state': '09'},
 {'NAME': 'Florida',
  'B19013_001E': 55660.0,
  'B01003_001E': 20901636.0,
  'B01002_001E': 42.0,
  'B19301_001E': 31619.0,
  'state': '12'},
 {'NAME': 'Georgia',
  'B19013_001E': 58700.0,
  'B01003_001E': 10403847.0,
  'B01002_001E': 36.7,
  'B19301_001E': 31067.0,
  'state': '13'},
 {'NAME': 'Idaho',
  'B19013_001E': 55785.0,
  'B01003_001E': 1717750.0,
  'B01002_001E': 36.4,
  'B19301_001E': 27970.0,
  'state': '16'},
 {'NAME': 'Hawaii',
  'B19013_001E': 81275.0,
  'B01003_001E': 1422094.0,
  'B01002_001E': 39.1,
  'B19301_001E': 35567.0,
  'state': '15'},
 {'NAME': 'Illinois',
  'B19013_001E': 65886.0,
  'B01003_001E': 12770631.0,
  'B01002_001E': 38.1,
  'B19301_001E': 36038.0,
  'state': '17'},
 {'NAME': 'Indiana',
  'B19013_001E': 56303.0,
  'B01003_001E': 6665703.0,
  'B01002_001E': 37.7,
  'B19301_001E': 29777.0,
  'state': '18'},
 {'NAME': 'Iowa',
  'B19013_001E': 60523.0,
  'B01003_001E': 3139508.0,
  'B01002_001E': 38.2,
  'B19301_001E': 32176.0,
  'state': '19'},
 {'NAME': 'Kansas',
  'B19013_001E': 59597.0,
  'B01003_001E': 2910652.0,
  'B01002_001E': 36.7,
  'B19301_001E': 31814.0,
  'state': '20'},
 {'NAME': 'Kentucky',
  'B19013_001E': 50589.0,
  'B01003_001E': 4449052.0,
  'B01002_001E': 38.9,
  'B19301_001E': 28178.0,
  'state': '21'},
 {'NAME': 'Louisiana',
  'B19013_001E': 49469.0,
  'B01003_001E': 4664362.0,
  'B01002_001E': 36.9,
  'B19301_001E': 27923.0,
  'state': '22'},
 {'NAME': 'Maine',
  'B19013_001E': 57918.0,
  'B01003_001E': 1335492.0,
  'B01002_001E': 44.7,
  'B19301_001E': 32637.0,
  'state': '23'},
 {'NAME': 'Maryland',
  'B19013_001E': 84805.0,
  'B01003_001E': 6018848.0,
  'B01002_001E': 38.7,
  'B19301_001E': 42122.0,
  'state': '24'},
 {'NAME': 'Massachusetts',
  'B19013_001E': 81215.0,
  'B01003_001E': 6850553.0,
  'B01002_001E': 39.5,
  'B19301_001E': 43761.0,
  'state': '25'},
 {'NAME': 'Michigan',
  'B19013_001E': 57144.0,
  'B01003_001E': 9965265.0,
  'B01002_001E': 39.7,
  'B19301_001E': 31713.0,
  'state': '26'},
 {'NAME': 'Minnesota',
  'B19013_001E': 71306.0,
  'B01003_001E': 5563378.0,
  'B01002_001E': 38.0,
  'B19301_001E': 37625.0,
  'state': '27'},
 {'NAME': 'Mississippi',
  'B19013_001E': 45081.0,
  'B01003_001E': 2984418.0,
  'B01002_001E': 37.5,
  'B19301_001E': 24369.0,
  'state': '28'},
 {'NAME': 'Missouri',
  'B19013_001E': 55461.0,
  'B01003_001E': 6104910.0,
  'B01002_001E': 38.6,
  'B19301_001E': 30810.0,
  'state': '29'},
 {'NAME': 'Montana',
  'B19013_001E': 54970.0,
  'B01003_001E': 1050649.0,
  'B01002_001E': 39.9,
  'B19301_001E': 31151.0,
  'state': '30'},
 {'NAME': 'Nebraska',
  'B19013_001E': 61439.0,
  'B01003_001E': 1914571.0,
  'B01002_001E': 36.5,
  'B19301_001E': 32302.0,
  'state': '31'},
 {'NAME': 'Nevada',
  'B19013_001E': 60365.0,
  'B01003_001E': 2972382.0,
  'B01002_001E': 38.0,
  'B19301_001E': 31557.0,
  'state': '32'},
 {'NAME': 'New Hampshire',
  'B19013_001E': 76768.0,
  'B01003_001E': 1348124.0,
  'B01002_001E': 42.9,
  'B19301_001E': 40003.0,
  'state': '33'},
 {'NAME': 'New Jersey',
  'B19013_001E': 82545.0,
  'B01003_001E': 8878503.0,
  'B01002_001E': 39.9,
  'B19301_001E': 42745.0,
  'state': '34'},
 {'NAME': 'New Mexico',
  'B19013_001E': 49754.0,
  'B01003_001E': 2092454.0,
  'B01002_001E': 37.8,
  'B19301_001E': 27230.0,
  'state': '35'},
 {'NAME': 'New York',
  'B19013_001E': 68486.0,
  'B01003_001E': 19572319.0,
  'B01002_001E': 38.8,
  'B19301_001E': 39326.0,
  'state': '36'},
 {'NAME': 'North Carolina',
  'B19013_001E': 54602.0,
  'B01003_001E': 10264876.0,
  'B01002_001E': 38.7,
  'B19301_001E': 30783.0,
  'state': '37'},
 {'NAME': 'North Dakota',
  'B19013_001E': 64894.0,
  'B01003_001E': 756717.0,
  'B01002_001E': 35.1,
  'B19301_001E': 36062.0,
  'state': '38'},
 {'NAME': 'Ohio',
  'B19013_001E': 56602.0,
  'B01003_001E': 11655397.0,
  'B01002_001E': 39.4,
  'B19301_001E': 31552.0,
  'state': '39'},
 {'NAME': 'Oklahoma',
  'B19013_001E': 52919.0,
  'B01003_001E': 3932870.0,
  'B01002_001E': 36.6,
  'B19301_001E': 28422.0,
  'state': '40'},
 {'NAME': 'Oregon',
  'B19013_001E': 62818.0,
  'B01003_001E': 4129803.0,
  'B01002_001E': 39.3,
  'B19301_001E': 33763.0,
  'state': '41'},
 {'NAME': 'Pennsylvania',
  'B19013_001E': 61744.0,
  'B01003_001E': 12791530.0,
  'B01002_001E': 40.8,
  'B19301_001E': 34352.0,
  'state': '42'},
 {'NAME': 'Rhode Island',
  'B19013_001E': 67167.0,
  'B01003_001E': 1057231.0,
  'B01002_001E': 39.9,
  'B19301_001E': 36121.0,
  'state': '44'},
 {'NAME': 'South Carolina',
  'B19013_001E': 53199.0,
  'B01003_001E': 5020806.0,
  'B01002_001E': 39.4,
  'B19301_001E': 29426.0,
  'state': '45'},
 {'NAME': 'South Dakota',
  'B19013_001E': 58275.0,
  'B01003_001E': 870638.0,
  'B01002_001E': 37.0,
  'B19301_001E': 30773.0,
  'state': '46'},
 {'NAME': 'Tennessee',
  'B19013_001E': 53320.0,
  'B01003_001E': 6709356.0,
  'B01002_001E': 38.7,
  'B19301_001E': 29859.0,
  'state': '47'},
 {'NAME': 'Texas',
  'B19013_001E': 61874.0,
  'B01003_001E': 28260856.0,
  'B01002_001E': 34.6,
  'B19301_001E': 31277.0,
  'state': '48'},
 {'NAME': 'Vermont',
  'B19013_001E': 61973.0,
  'B01003_001E': 624313.0,
  'B01002_001E': 42.9,
  'B19301_001E': 34577.0,
  'state': '50'},
 {'NAME': 'Utah',
  'B19013_001E': 71621.0,
  'B01003_001E': 3096848.0,
  'B01002_001E': 30.8,
  'B19301_001E': 29775.0,
  'state': '49'},
 {'NAME': 'Virginia',
  'B19013_001E': 74222.0,
  'B01003_001E': 8454463.0,
  'B01002_001E': 38.2,
  'B19301_001E': 39278.0,
  'state': '51'},
 {'NAME': 'Washington',
  'B19013_001E': 73775.0,
  'B01003_001E': 7404107.0,
  'B01002_001E': 37.7,
  'B19301_001E': 38915.0,
  'state': '53'},
 {'NAME': 'West Virginia',
  'B19013_001E': 46711.0,
  'B01003_001E': 1817305.0,
  'B01002_001E': 42.5,
  'B19301_001E': 26480.0,
  'state': '54'},
 {'NAME': 'Wisconsin',
  'B19013_001E': 61747.0,
  'B01003_001E': 5790716.0,
  'B01002_001E': 39.5,
  'B19301_001E': 33375.0,
  'state': '55'},
 {'NAME': 'Wyoming',
  'B19013_001E': 64049.0,
  'B01003_001E': 581024.0,
  'B01002_001E': 37.7,
  'B19301_001E': 33366.0,
  'state': '56'},
 {'NAME': 'Puerto Rico',
  'B19013_001E': 20539.0,
  'B01003_001E': 3318447.0,
  'B01002_001E': 41.7,
  'B19301_001E': 12914.0,
  'state': '72'}]

In [26]:
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Median Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "NAME": "Name", "state": "State"})
census_pd

,Name,Median Household Income,Population,Median Age,Per Capita Income,State
0,Alabama,50536.0,4876250.0,39.0,27928.0,01
1,Alaska,77640.0,737068.0,34.3,36787.0,02
2,Arizona,58945.0,7050299.0,37.7,30694.0,04
3,Arkansas,47597.0,2999370.0,38.1,26577.0,05
4,California,75235.0,39283497.0,36.5,36955.0,06
5,Colorado,72331.0,5610349.0,36.7,38226.0,08
6,Delaware,68287.0,957248.0,40.6,35450.0,10
7,District of Columbia,86420.0,692683.0,34.0,56147.0,11
8,Connecticut,78444.0,3575074.0,41.0,44496.0,09
9,Florida,55660.0,20901636.0,42.0,31619.0,12
10,Georgia,58700.0,10403847.0,36.7,31067.0,13
11,Idaho,55785.0,1717750.0,36.4,27970.0,16
12,Hawaii,81275.0,1422094.0,39.1,35567.0,15
13,Illinois,65886.0,12770631.0,38.1,36038.0,17
14,Indiana,56303.0,6665703.0,37.7,29777.0,18
15,Iowa,60523.0,3139508.0,38.2,32176.0,19
16,Kansas,59597.0,2910652.0,36.7,31814.0,20
17,Kentucky,50589.0,4449052.0,38.9,28178.0,21
18,Louisiana,49469.0,4664362.0,36.9,27923.0,22
19,Maine,57918.0,1335492.0,44.7,32637.0,23
20,Maryland,84805.0,6018848.0,38.7,42122.0,24
21,Massachusetts,81215.0,6850553.0,39.5,43761.0,25
22,Michigan,57144.0,9965265.0,39.7,31713.0,26
23,Minnesota,71306.0,5563378.0,38.0,37625.0,27
24,Mississippi,45081.0,2984418.0,37.5,24369.0,28
25,Missouri,55461.0,6104910.0,38.6,30810.0,29
26,Montana,54970.0,1050649.0,39.9,31151.0,30
27,Nebraska,61439.0,1914571.0,36.5,32302.0,31
28,Nevada,60365.0,2972382.0,38.0,31557.0,32
29,New Hampshire,76768.0,1348124.0,42.9,40003.0,33
30,New Jersey,82545.0,8878503.0,39.9,42745.0,34
31,New Mexico,49754.0,2092454.0,37.8,27230.0,35
32,New York,68486.0,19572319.0,38.8,39326.0,36
33,North Carolina,54602.0,10264876.0,38.7,30783.0,37
34,North Dakota,64894.0,756717.0,35.1,36062.0,38
35,Ohio,56602.0,11655397.0,39.4,31552.0,39
36,Oklahoma,52919.0,3932870.0,36.6,28422.0,40
37,Oregon,62818.0,4129803.0,39.3,33763.0,41
38,Pennsylvania,61744.0,12791530.0,40.8,34352.0,42
39,Rhode Island,67167.0,1057231.0,39.9,36121.0,44
40,South Carolina,53199.0,5020806.0,39.4,29426.0,45
41,South Dakota,58275.0,870638.0,37.0,30773.0,46
42,Tennessee,53320.0,6709356.0,38.7,29859.0,47
43,Texas,61874.0,28260856.0,34.6,31277.0,48
44,Vermont,61973.0,624313.0,42.9,34577.0,50
45,Utah,71621.0,3096848.0,30.8,29775.0,49
46,Virginia,74222.0,8454463.0,38.2,39278.0,51
47,Washington,73775.0,7404107.0,37.7,38915.0,53
48,West Virginia,46711.0,1817305.0,42.5,26480.0,54
49,Wisconsin,61747.0,5790716.0,39.5,33375.0,55
50,Wyoming,64049.0,581024.0,37.7,33366.0,56
51,Puerto Rico,20539.0,3318447.0,41.7,12914.0,72

In [38]:
merge_df = pd.merge(recent_df, census_pd, left_on='state', right_on='Name', how='inner')
date = merge_df["date"][0]

final_df = merge_df.drop(columns=['state','dataQualityGrade','date'])
final_df = final_df.set_index('Name')

# print(f'This data was collected on: {date}')
final_df

,abbreviation,area (sq. mi),death,hospitalized,positive,negative,recovered,totalTestResults,Median Household Income,Population,Median Age,Per Capita Income,State
Name,,,,,,,,,,,,,
Alabama,AL,52423,4296.0,30224.0,315683.0,1507204.0,183625.0,1764750.0,50536.0,4876250.0,39.0,27928.0,01
Connecticut,CT,5544,5581.0,12257.0,162782.0,3782866.0,9800.0,3945648.0,78444.0,3575074.0,41.0,44496.0,09
Michigan,MI,96810,11868.0,NaN,491875.0,7146593.0,236369.0,7638468.0,57144.0,9965265.0,39.7,31713.0,26
Colorado,CO,104100,4259.0,17020.0,304107.0,1720956.0,16062.0,3971864.0,72331.0,5610349.0,36.7,38226.0,08
Nebraska,NE,77358,1453.0,4930.0,153400.0,658073.0,88176.0,1609385.0,61439.0,1914571.0,36.5,32302.0,31
Minnesota,MN,86943,4723.0,20323.0,391889.0,2446226.0,360868.0,4923927.0,71306.0,5563378.0,38.0,37625.0,27
Washington,WA,71303,3117.0,13235.0,217205.0,2556060.0,NaN,2765404.0,73775.0,7404107.0,37.7,38915.0,53
Montana,MT,147046,854.0,3226.0,75992.0,671810.0,65873.0,747802.0,54970.0,1050649.0,39.9,31151.0,30
Mississippi,MS,48434,4354.0,7901.0,190411.0,1079660.0,148466.0,1270071.0,45081.0,2984418.0,37.5,24369.0,28
Virginia,VA,42769,4598.0,16684.0,299388.0,3574684.0,27471.0,3831683.0,74222.0,8454463.0,38.2,39278.0,51
Rhode Island,RI,1545,1625.0,5822.0,77812.0,519811.0,4761.0,1817360.0,67167.0,1057231.0,39.9,36121.0,44
Louisiana,LA,51843,6994.0,NaN,282434.0,3643080.0,232725.0,3925514.0,49469.0,4664362.0,36.9,27923.0,22
Missouri,MO,69709,4853.0,NaN,360330.0,1607366.0,NaN,3431791.0,55461.0,6104910.0,38.6,30810.0,29
Delaware,DE,1954,854.0,NaN,49109.0,428997.0,18851.0,882919.0,68287.0,957248.0,40.6,35450.0,10
Kentucky,KY,40411,2344.0,12184.0,237190.0,2796131.0,33665.0,2988579.0,50589.0,4449052.0,38.9,28178.0,21
Pennsylvania,PA,46058,13608.0,NaN,538655.0,3118874.0,323193.0,3657529.0,61744.0,12791530.0,40.8,34352.0,42
Vermont,VT,9615,107.0,NaN,6243.0,242897.0,3970.0,640896.0,61973.0,624313.0,42.9,34577.0,50
District of Columbia,DC,68,728.0,NaN,26104.0,786798.0,18743.0,812902.0,86420.0,692683.0,34.0,56147.0,11
Nevada,NV,110567,2708.0,NaN,199257.0,897585.0,NaN,1916048.0,60365.0,2972382.0,38.0,31557.0,32
California,CA,163707,22160.0,NaN,1764374.0,26976653.0,NaN,28741027.0,75235.0,39283497.0,36.5,36955.0,06
West Virginia,WV,24231,1091.0,NaN,69751.0,1307321.0,46632.0,1377072.0,46711.0,1817305.0,42.5,26480.0,54
Massachusetts,MA,10555,11610.0,15372.0,314926.0,3470184.0,206843.0,10007766.0,81215.0,6850553.0,39.5,43761.0,25
North Carolina,NC,53821,6125.0,NaN,466104.0,5800623.0,365273.0,6266727.0,54602.0,10264876.0,38.7,30783.0,37
Oklahoma,OK,69903,2161.0,14970.0,251760.0,2192087.0,217534.0,2443847.0,52919.0,3932870.0,36.6,28422.0,40
Alaska,AK,656425,183.0,928.0,41905.0,1143017.0,7165.0,1184922.0,77640.0,737068.0,34.3,36787.0,02
Wyoming,WY,97818,351.0,1001.0,41359.0,153505.0,38544.0,463753.0,64049.0,581024.0,37.7,33366.0,56
New York,NY,54475,28344.0,89995.0,828166.0,22101265.0,94057.0,22929431.0,68486.0,19572319.0,38.8,39326.0,36
Oregon,OR,98386,1304.0,5837.0,100308.0,2315496.0,5870.0,2415804.0,62818.0,4129803.0,39.3,33763.0,41
Arizona,AZ,114006,7819.0,32293.0,442671.0,2181193.0,65350.0,4514548.0,58945.0,7050299.0,37.7,30694.0,04
Ohio,OH,44828,7967.0,34143.0,605862.0,6571202.0,430621.0,7177064.0,56602.0,11655397.0,39.4,31552.0,39
North Dakota,ND,70704,1231.0,3349.0,89557.0,280865.0,85271.0,1193656.0,64894.0,756717.0,35.1,36062.0,38
New Mexico,NM,121593,2128.0,8571.0,127500.0,1681793.0,52137.0,1809293.0,49754.0,2092454.0,37.8,27230.0,35
Wisconsin,WI,65503,4632.0,19930.0,486364.0,2281130.0,408367.0,5004584.0,61747.0,5790716.0,39.5,33375.0,55
New Jersey,NJ,8722,18124.0,44889.0,423226.0,6672479.0,50629.0,7095705.0,82545.0,8878503.0,39.9,42745.0,34
Maryland,MD,12407,5358.0,24310.0,246553.0,2387177.0,9064.0,5205154.0,84805.0,6018848.0,38.7,42122.0,24
Arkansas,AR,53182,3139.0,10430.0,197421.0,1746014.0,171864.0,1913448.0,47597.0,2999370.0,38.1,26577.0,05
New Hampshire,NH,9351,638.0,881.0,34960.0,444695.0,27459.0,949737.0,76768.0,1348124.0,42.9,40003.0,33
Kansas,KS,82282,2341.0,6175.0,200426.0,730380.0,4125.0,930806.0,59597.0,2910652.0,36.7,31814.0,20
Maine,ME,35387,281.0,965.0,18337.0,1007303.0,10744.0,1025640.0,57918.0,1335492.0,44.7,32637.0,23
Georgia,GA,59441,10332.0,39064.0,500265.0,4403781.0,NaN,4904046.0,58700.0,10403847.0,36.7,31067.0,13
Iowa,IA,56276,3451.0,NaN,227989.0,911604.0,208802.0,1139593.0,60523.0,3139508.0,38.2,32176.0,19
Texas,TX,268601,24954.0,NaN,1555981.0,11147868.0,1245339.0,12532344.0,61874.0,28260856.0,34.6,31277.0,48
Illinois,IL,57918,16206.0,NaN,886805.0,11372790.0,NaN,12259595.0,65886.0,12770631.0,38.1,36038.0,17
Indiana,IN,36420,7265.0,32042.0,453139.0,2039231.0,281473.0,5157016.0,56303.0,6665703.0,37.7,29777.0,18
Florida,FL,65758,20690.0,60392.0,1161953.0,6966477.0,NaN,14394820.0,55660.0,20901636.0,42.0,31619.0,12
Idaho,ID,83574,1259.0,5021.0,126878.0,413227.0,49318.0,519125.0,55785.0,1717750.0,36.4,27970.0,16
Tennessee,TN,42146,5845.0,13537.0,493230.0,4703628.0,418724.0,5196858.0,53320.0,6709356.0,38.7,29859.0,47
South Carolina,SC,32007,4872.0,13267.0,267076.0,2577819.0,133902.0,2844895.0,53199.0,5020806.0,39.4,29426.0,45
Hawaii,HI,10932,281.0,1655.0,20257.0,295153.0,11958.0,758327.0,81275.0,1422094.0,39.1,35567.0,15
Utah,UT,84904,1140.0,9883.0,246562.0,1246575.0,188846.0,2091694.0,71621.0,3096848.0,30.8,29775.0,49
South Dakota,SD,77121,1329.0,5348.0,93772.0,264794.0,83670.0,358566.0,58275.0,870638.0,37.0,30773.0,46