In [ ]:
CDC_COVID_API = https://data.cdc.gov/resource/vbim-akqf.json

In [1]:
#Import Dependencies 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [ ]:
Kyle Test

In [11]:
#read data files 

census_data= 

state_sizes =

SyntaxError: invalid syntax (<ipython-input-11-b01f2646d6c6>, line 3)

In [5]:
#create covid data frame
covid_file= "Resources/all-states-history-1219.csv"
covid_data=pd.read_csv(covid_file)
covid_df = pd.DataFrame(covid_data) 
covid_df.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,12/18/20,AK,A,183.0,183.0,0,NaN,928.0,928.0,142.0,...,1184922.0,9199,NaN,NaN,NaN,NaN,NaN,0,1184922.0,9199
1,12/18/20,AL,A,4296.0,3772.0,42,524.0,30224.0,30224.0,2447.0,...,1764750.0,12037,NaN,NaN,80872.0,NaN,1764750.0,12037,NaN,0
2,12/18/20,AR,A+,3139.0,2776.0,27,363.0,10430.0,10430.0,1073.0,...,1913448.0,13674,NaN,21856.0,NaN,198712.0,NaN,0,1913448.0,13674
3,12/18/20,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,12/18/20,AZ,A+,7819.0,7142.0,142,677.0,32293.0,32293.0,3931.0,...,4514548.0,51882,381780.0,NaN,NaN,NaN,2605792.0,22398,4514548.0,51882

In [ ]:
#using dataframe of State Abbrevs and State Areas

In [ ]:
#review and clean the covid data 
#remove outliers, rename columns

In [ ]:
#gather general COVID data by states - number of cases by state 
#overlay onto a map in a heatmap in gmaps / use markers per state showing total cases

In [ ]:
#gather stats about Census data
#show population per state as marker

In [ ]:
#compare # of cases v population density

In [ ]:
#combine data about each state and COVID infections grouped by age 
#include % of population, % of COVID infections

In [ ]:
#create a summary table of US overall